html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: #6f6f6f;
}
nav a {
  background: linen;
  padding: 0.5rem;
  margin: 0.5rem;
}
nav {
  margin: 0.3rem;
  text-align: center;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
}
canvas {
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
}
